<%- include('partials/header'); -%>

<header>
    <h3>Pick a card, any card. Choose wisely.</h3>
    </header>

<ul class="recipes">
  <li class="recipe">
    <img src="/bloodysad.png" alt="movie icon">
    <h4>Bloody Sad</h4>
    <p>For nights when you crave heartbreak in slow motion — stories soaked in tragic beauty. </p>
  </li>

  <li class="recipe">
    <img src="/freaky.png" alt="movie icon">
    <h4>Freaky but Chic</h4>
    <p>Killer looks. Killer vibes. Killer everything.</p>
  </li>
  <li class="recipe">
    <img src="unholy.png" alt="movier icon">
    <h4>Twisted and Unholy</h4>
    <p>For nights when reality melts, and the monsters are beautifully wrong.</p>
  </li>
  <li class="recipe">
    <img src="/possessed.png" alt="movie icon">
    <h4>Strange and Possessed</h4>
    <p>The weird has teeth — and it’s whispering your name.</p>
  </li>
  <li class="recipe">
    <img src="/humor.png" alt="movie icon">
    <h4>Bloody humour</h4>
    <p>Because sometimes the only way to survive the horror is to laugh through the blood.</p>
  </li>
  <li class="recipe">
    <img src="/Sick.png" alt="movie icon">
    <h4>Sick and Surreal</h4>
    <p>When the dream won’t end and the film won’t blink — horror that hums in your bones.</p>
  </li>
</ul>

<%- include('partials/footer'); -%>